* { box-sizing: border-box; }

html { overflow-y: scroll; }

body { font-family: sans-serif; }

header {
  margin-top:80px;
  background-image: url(/img/header-image-2.jpg);
}

#contact {
  background: #333;
  background-image: url(/img/map-image.png);
}

.navbar-default {
  padding-bottom: 5px;
  padding-top: 12px;
}

header .intro-text{
  padding-top: 90px;
  padding-bottom: 50px
}

.navbar-default.navbar-shrink {
  background-color: white;
  position: fixed;
}
.navbar-default.navbar-shrink li.active a.page-scroll {
  color:  #333;
}

.navbar-default {
  background: white;
}

.fa.fa-chevron-circle-down.fa-3x {
  color: #f8d04d;
}

.navbar-default .nav li a {
  color: #333;
}

.navbar-default.navbar-shrink a.page-scroll { 
  color: #333;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: transparent;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    outline: 0;
    color: #111;
}

a {
  color: #333;
}

a:hover, a:visited, a:active {
  color: #333;
}

a.navbar-brand.page-scroll, 
a.navbar-brand.page-scroll:hover, 
a.navbar-brand.page-scroll:focus, 
a.navbar-brand.page-scroll:active {
  color: #333;
}

li a.page-scroll {
     padding-bottom: 3px;
}

.navbar-default .navbar-nav>.active>a {
  background: transparent;
  color: black;
  border-bottom: solid 3px #333;
}

.navbar-default.navbar-shrink li.active a.page-scroll {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
 /* margin-right: 15px;*/
}

a#link span:hover {
    color: #333;
}

a#link {
  border-bottom: 2px solid;
}

a#link span {
  color: #444;
}

a:hover {
  text-decoration: none;
}

p.subheader {
  font-style: italic;
}

p {
  font-size: 15px;
}

.col-md-4.intro-text {
  /*margin-top: 70px; */
  margin-left:100px;
  text-align: left;
}

.services { 
  padding-left: 33px;
  padding-right: 33px;
}

section#services {
  padding-bottom: 0px;
  height: 860px;
}
  
section h3.section-subheading {
  font-size: 15px;
}

.portfolio-modal .modal-content p {
  color: #444;
}

.numbers {
  font-family: "din-next-pro-medium", Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px
}

ul.item-details, ul.item-details {
  color: #444;
}

.col-md-3.services {
  height: 550px;
}

.select {
  width: 100%;
  position: absolute; 
  bottom: 12px; 
  left: 12px; 
  padding-right: 24px;
}

/* ---- Masonry Grid -- */

.navbar-default #logo2 {
  display:none;
}

.navbar-default.navbar-shrink #logo2 {
  display: inline;
}

.navbar-default.navbar-shrink #logo {
  display: none;
}

.grid {
  background: white;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

path {fill: #333  !important;}
.st1 {fill: #333 !important;}


/* iPad mini */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad 3 & 4 */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
     
}

/* iPhone */
@media(max-width: 415px) {

  .navbar-default {
    background-color: transparent;
  }
  .navbar-default .navbar-collapse {
    background-color: #333;
  }
  section#discover div.container div.row:first-child  {
    height: 255px;
  }
  div.col-md-4 {
    margin: 0px;
  }
  h2.service-heading.intro {
    margin-left: 20px;
    text-transform: uppercase;
    text-align: center
  }
  p.text-muted {
    text-align: center;
  }

  section#services div.container div.row:first-child  {
    height: 150px;
  }

  div.col-sm-6.col-md-3.services.middle.second-service {
    margin-top: 30px;
  }

  div.col-md-3.services.middle {
    padding-top: 130px;
  }

  section#services div.container div.row.text-center div.col-md-3  {
    height: 350px;
    padding-top: 100px;
  }

  section#services {
    height:1880px
  }

  section#clients {
    height: 750px;
  }

  section#services div.container div.row.text-center div.col-md-3:last-child { 
    height: 500px;
    padding-top: 180px;
  }

  img {
    width: 75%;
  }

  h2.service-heading {
    text-align:; center;
  }

  .grid-sizer, .grid-item {
    width: 50%;
  }
  section#audience div.container div.row:first-child {
    height: 247px;
  }
  section#audience div.container div.row div.col-md-4 h2.service-heading.text-left {
    margin-top: 44px;
    text-align: center;
  }
  .navbar-default .navbar-collapse {
    background-color: beige;
}
}

@media (max-width: 415px) {
  div.col-md-4.intro-text {
    margin-top: 0px; 
    margin-left: 0px; 
  }
  section {
    padding: 60px 0;
  }
}


@media only screen 
and (min-device-width : 540px) 
and (max-device-width : 736px) 
and (orientation : landscape) { 
    #services.bg-light-gray{
        height: 1700px;
      }
    .col-md-3.services {
      height: 340px;
    }
    h3.section-subheading.text-muted {
      margin-bottom: 40px;
    }
    .col-md-3.services:last-child {
      margin-top: 35px;
    }
    .service-heading, .text-muted {
      text-align: center;
    }
    .col-md-4.intro-text {
      margin-left: 0px;
      padding-left: 100px;
      padding-right: 100px;
    }
    ul {
      list-style: none;
    }
    section {
    padding: 60px 0;
}



ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #666;
}

::selection{
      background: #ededed;;
}



.wf-loading .intro-heading,
.wf-loading .navbar-brand.page-scroll,
.wf-loading nav.navbar-nav.navbar-right,
.wf-loading h2,
.wf-loading a {
/* Hide the blog title and post titles while web fonts are loading */
   visibility: hidden;
 }


