<!-- Introduction Section -->
    <section id="discover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Discover and engage {{page.city}}’s <span class="primary-color">curious locals.</span></h2>
                    <h3 class="section-subheading text-muted">We help locals understand and connect with their city and everything in it. We can help them connect with you, too.</h3>
                </div>
            </div>
            <div class="row text-center">
            <div class="col-md-3"></div>
                <div class="col-md-2">
                  <video autoplay onended="replay()">
                     <source src="/img/miami-iphone6.mp4" type="video/mp4">
                  </video>
                </div>
                
                <div class="col-md-4 intro-text">
                    <h2 class="service-heading intro">Connecting with passion</h2>
                    <p class="text-muted">We work with subcultures: passionate groups of like-minded locals who share interests, values, and behaviors. We understand and engage the right groups within these communities through creative digital and in-person experiences.</p><p class="text-muted">Local has never been more important— it’s personal, high impact, and high reward. We work with brands and organizations that care about our cities as much as we do to help them find their own subcultures. Success is working together to build new relationships and lasting engagements. Let’s begin this journey together.</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>