<!-- Introduction Section -->
    <section id="discover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We understand local because we are local.</span></h2>
                    <h3 class="section-subheading text-muted">We’re a collection of creatives, journalists, artists and bon vivants who love what we do. And we do local.</h3>
                </div>
            </div>
            <div class="row text-center">
            <div class="col-md-3"></div>
                <div class="col-md-2">
                  <video loop autoplay onended="replay()">
                     <source src="/img/miami-iphone6.mp4" type="video/mp4">
                  </video>
                </div>
                
                <div class="col-md-4 intro-text">
                    <h2 class="service-heading intro">Connecting with <br>passion and curiosity</h2>
                    <p class="text-muted">We connect curious locals to the things that move them by developing creative strategies, content and experiences for brands that understand how powerful that can be. Our creativity, their passion and you are how we do what we do best: Cultivate FOMO. <p class="text-muted">We’ve developed broad, deep networks in cities through our local digital publications and social channels. We can leverage them both for you.</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
    <script>
     var el = document.getElementsByTagName("video");
    for (var i = 0; i < el.length; i++) {
        el[i].addEventListener('click', function(e) {
            playVideo(this);
            return false;                
        }, false);
    }
    </script>