<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How we can help you</h2>
                    <h3 class="section-subheading text-muted">We build community, create engaging local media and event experiences, and help brands connect to valuable local customers.</h3>
                </div>
            </div>
            <div class="row text-center">
            
            <div class="col-sm-6 col-md-3 services">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Research and strategy</h2>
                    <p class="text-muted subheader">Helping you build bold new strategies for engaging locals.</p>
                    <p class="text-muted">Custom research on how your target customers interact with you and your industry, with actionable opportunities for engagement and strategy sessions with your team, plus access to our research library.</p>
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    Learn More
                </a>
                 <div class="select">
                    <a href="mailto:adamo@whereby.us?Subject=Research%20quote%20request"><button type="submit" class="btn btn-xl text-center">Request A Quote</button></a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 services">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Creative campaigns</h2>
                    <p class="text-muted subheader">Telling your story and building word-of-mouth with curious locals.</p><p class="text-muted">Our creative work ranges from written articles to video to social media campaigns, all designed to build unprecedented conversation and interaction with valuable local customers.</p>
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    Learn More
                    </a>
                    <div class="select">
                    <a href="mailto:adamo@whereby.us?Subject=Creative%20campaign%20quote%20request"><button type="submit" class="btn btn-xl text-center">Request A Quote</button></a>
                    </div>
            </div>
            
            <div class="col-sm-6 col-md-3 services">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Event design</h2>
                    <p class="text-muted subheader">Delivering unforgettable experiences that build new relationships.</p><p class="text-muted">Customized events that align with your goals, drawing targeted audiences with whom we forge new connections. Includes event promotion, media capture, and followup reporting to help you track results.</p>
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    Learn More
                    </a>
                    <div class="select">
                    <a href="mailto:adamo@whereby.us?Subject=Event%20quote%20request">
                    <button type="submit" class="btn btn-xl text-center">Request A Quote</button></a>
                    </div>
            </div>

            <div class="col-sm-6 col-md-3 services">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Advertising</h2>
                    <p class="text-muted subheader">Building awareness with curious locals.</p> 
                    <p class="text-muted">Ad placements in our daily and weekly newsletters, plus social media promotion designed to drive customer action. <br><br> Campaigns start at $100.</p><br> 
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                    Learn More
                    </a>
                    <div class="select">
                    <a href="https://thenewtropic.com/order/"><button type="submit" class="btn btn-xl text-center">Purchase</button></a>
                    </div>
                </div>
            </div><br>   
        </div>
    </section>
    <section id="services" >
      <div class="row">
  
        <div class="col-lg-2"></div>
        <div class="col-lg-8">


           <h2 class="section-heading text-center">Our Clients</h2><br><br>

            <div class="grid">
               
              
            {% for member in page.client %}
            <div class="grid-sizer"></div>
               <div class="grid-item">
                  <img src="/img/clients/{{ member.name }}.svg" class="svg">
              </div>
                 {% endfor %}
            </div>

         </div>
        <div class="col-lg-2"></div>
    
     </div>
    </section>

    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>The New Tropicana at the Wolfsonian</h2>
                            <hr class="star-primary">
                            <img src="/img/portfolio/new-tropicana-wolfsonian.png" class="img-responsive img-centered" alt="The New Tropicana at the Wolfsonian">
                            <p>We worked with the Wolfsonian-FIU to design The New Tropicana, a celebration of Cuban history and culture that would bring out hundreds of locals to experience their new exhibit, “Promising Paradise.” Through a creative campaign in our daily and weekly newsletters, we helped bring out more than 500 Miamians to eat, drink, dance, and discover together.</p>
                            <ul class="list-inline item-details">
                                <li>Launched:
                                    <strong>May - June 2016</a>
                                    </strong>
                                </li>
                                <li>
                                    Check out: 
                                    <strong><a href="https://thenewtropic.com/la-tropicana/" target="_blank" id="link"><span>The New Tropicana at the Wolfsonian</span></a></strong>      
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

