<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How we can help you</h2>
                    <h3 class="section-subheading text-muted">We’re an agency that works to build community, create engaging local media and event experiences, and help brands connect to valuable local customers. <br>Every project we work on has four parts:</h3>
                </div>
            </div>
            <div class="row text-center">
            
            <div class="col-sm-6 col-md-3 services middle">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Understanding</h2>
                  <!--   <p class="text-muted subheader">Helping you build bold new strategies for engaging locals.</p> -->
                    <p class="text-muted">Using our data and research models to understand how locals think and act around your work, and design bold new strategies for engagement.</p>
                     <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal"> <p><u>Human-centered research </u> <i class="fa fa-plus" aria-hidden="true"></i></p></a>
                     <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal"><p><u>Local market strategy </u> <i class="fa fa-plus" aria-hidden="true"></i></p></a>

                 <div class="select">
                </div>

            </div>
        
            <div class="col-sm-6 col-md-3 services middle second-service">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Awareness</h2>
                  <!--   <p class="text-muted subheader">Telling your story and building word-of-mouth with curious locals.</p> -->
                  <p class="text-muted">Getting in front of the right people with creative marketing campaigns, advertising, and targeted promotion of events.</p>

                     <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal"><p><u>Marketing campaigns </u><i class="fa fa-plus" aria-hidden="true"></i></p></a>
                     <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal"><p><u>Event promotion </u><i class="fa fa-plus" aria-hidden="true"></i></p></a>
                   

                    <div class="select">
                    </div>
            </div>
         
            <div class="col-sm-6 col-md-3 services">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Conversation</h2>
                    <p class="text-muted subheader"></p>

                    <p class="text-muted">Building word-of-mouth through quality, highly-shareable content.</p>

                    <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal"><p><u>Video </u><i class="fa fa-plus" aria-hidden="true"></i></p></a>
                    <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal"><p><u>Multimedia Stories </u><i class="fa fa-plus" aria-hidden="true"></i></p></a>
                    <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal"><p><u>Interactive </u><i class="fa fa-plus" aria-hidden="true"></i></p></a>
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal"><p><u>Sponsored multimedia projects </u><i class="fa fa-plus" aria-hidden="true"></i></p></a>

                    <div class="select">
                    </div>
            </div>

            <div class="col-sm-6 col-md-3 services">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                    </span>

                    <h2 class="service-heading">Engagement</h2>
                    <p class="text-muted subheader"></p>

                    <p class="text-muted">Creating unique cultural experiences that can redefine brands, build powerful new relationships, and drive lasting connections with locals.</p>

                     <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal"><p><u>Event design </u><i class="fa fa-plus" aria-hidden="true"></i></p></a>
                     <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal"><p><u>Activations and contests </u><i class="fa fa-plus" aria-hidden="true"></i></p></a>

                    <div class="select">
                    </div>
                </div>
            </div><br>   
        </div>
    </section>
    
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>The New Tropicana at the Wolfsonian</h2>
                            <hr class="star-primary">
                            <img src="/img/portfolio/new-tropicana-wolfsonian.png" class="img-responsive img-centered" alt="The New Tropicana at the Wolfsonian">
                            <p>We worked with the Wolfsonian-FIU to design The New Tropicana, a celebration of Cuban history and culture that would bring out hundreds of locals to experience their new exhibit, “Promising Paradise.” Through a creative campaign in our daily and weekly newsletters, we helped bring out more than 500 Miamians to eat, drink, dance, and discover together.</p>
                            <ul class="list-inline item-details">
                                <li>Launched:
                                    <strong>May 2016</a>
                                    </strong>
                                </li>
                                <li>
                                    Check out: 
                                    <strong><a href="https://thenewtropic.com/la-tropicana/" target="_blank" id="link"><span>The New Tropicana at the Wolfsonian</span></a></strong>      
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Florida Grand Opera</h2>
                            <p class="text-muted subheader">Understanding Miami’s millennials</p>
                            <hr class="star-primary">
                            <img src="/img/portfolio/florida-grand-opera.png" class="img-responsive img-centered" alt="Florida Grand Opera">
                            <p>Florida Grand Opera has an international reputation for groundbreaking work—and for approaching the arts with an eye toward innovation and experimentation. They’ve taken opera beyond the hall with their Unexpected Opera in Unexpected Places series; explored new formats; and focused on young artists. We helped FGO understand how to engage the millennial demographic with an in-depth research project that identified new opportunities for marketing and audience development.<p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Road Trip with Chevrolet</h2>
                            <p class="text-muted subheader">Tapping wanderlust to reach Miami’s adventurers</p>
                            <hr class="star-primary">
                            <img src="/img/portfolio/road-trip.png" class="img-responsive img-centered" alt="Road Trip with Chevrolet">
                            <p>Because we’re a tourism city, few brands spend time speaking to Miami’s own explorers and travelers. We took Miamians on a journey to the Florida Keys, powered by Chevrolet’s Trax SUV. The trip included a video journey with local social influencer Woo Supreme, an interactive timeline of local stops in the Keys, and a photo essay of people and places we found, all designed to engage Miami’s adventurers.<p>
                            <ul class="list-inline item-details">
                                <li>Launched:
                                    <strong>September 2015</a>
                                    </strong>
                                </li>
                                <li>
                                    Check out: 
                                    <strong><a href="https://thenewtropic.com/road-trip-the-upper-keys/" target="_blank" id="link"><span>Road Trip with Chevrolet</span></a></strong>      
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Miami Explore-o-Matic</h2>
                            <p class="text-muted subheader">Interactive experiences for influencers and active locals</p>
                            <hr class="star-primary">
                            <img src="/img/portfolio/miami-explore-o-matic.png" class="img-responsive img-centered" alt="Miami Explore-o-matic">
                            <p>Creating conversation isn’t just about great words or beautiful images. True engagement is interactive, which is why we build interactive digital content, from quizzes to data features to contests, that drive rich engagement.<p>
                            <ul class="list-inline item-details">
                                <li>Launched:
                                    <strong>December 2015</a>
                                    </strong>
                                </li>
                                <li>
                                    Check out: 
                                    <strong><a href="https://thenewtropic.com/miami-explore-o-matic-quiz/" target="_blank" id="link"><span>Miami Explore-o-Matic Quiz</span></a></strong>      
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>El Tamalero</h2>
                            <p class="text-muted subheader">Celebrating Miami’s unique characters</p>
                            <hr class="star-primary">
                            <img src="/img/portfolio/el-tamalero.png" class="img-responsive img-centered" alt="El Tamalero">
                            <p>Romelio Reyes has been selling his legendary tamales in Hialeah for decades. The 85-year-old is something of a local celebrity: his tamales are said to cure arthritis and other maladies, and anyone who spends time in Hialeah has seen him on his bike. We caught up with him to share his story. Our stories are shared because they’re human—because we understand local, build community, and find personalities you can’t find anywhere else.<p>
                            <ul class="list-inline item-details">
                                <li>Launched:
                                    <strong>July 2016</a>
                                    </strong>
                                </li>
                                <li>
                                    Check out: 
                                    <strong><a href="https://www.facebook.com/newtropicmiami/videos/1083611138375813/" target="_blank" id="link"><span>El Tamalero video</span></a></strong>      
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Idea Center</h2>
                            <p class="text-muted subheader">Building participation with Miami’s curious locals</p>
                            <hr class="star-primary">
                            <img src="/img/portfolio/idea-center.png" class="img-responsive img-centered" alt="Idea Center">
                            <p>Miami-Dade College’s Idea Center is an innovative hub for entrepreneurship, bringing students and community members together for educational opportunities and experiential learning on technology, human-centered design, and entrepreneurship. We helped the Idea Center find new participants for its continuing education courses through creative campaigns in our newsletter.<p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


