 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <!-- Display rss -->
    <script type="text/javascript">
    var content = document.getElementById('blog-feed');

    function showFeed(data){
        if(data.status == 'ok'){
            console.log(data);

            var output = '';

            for(var i=0;i<data.items.length;++i){

                output += '<div class="blog-entry text-muted"><h3 class="blog-title"><a href="' +
                data.items[i].link + '" >' +
                data.items[i].title + '</h3></a>'+
                '<p class="author text-muted"> By ' + data.items[i].author + '</p>' + data.items[i].description + '</div>';

            }


            content.innerHTML = output;

        }

    }
</script>
<script type="text/javascript" src="http://rss2json.com/api.json?callback=showFeed&rss_url=https%3A%2F%2Fmedium.com%2Ffeed%2Fwhereby-us"></script>