<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We build experiential media for the world’s <span class="primary-color">curious locals.</span></h2>
                    <h3 class="section-subheading text-muted">We’re solving the future of local content and engagement, in growing cities around the world.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Building community</h4>
                    <p class="text-muted">Whereby.us is creating tools, content and events to help today's digital nomads connect to each other, their cities, and the organizations they care about.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Engaging local media</h4>
                    <p class="text-muted">We're reimagining local news and media for a generation of globally minded, digitally saavy, highly mobile people who want to shape the cities of the future through issues and activities they're passionate about.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Connecting brands with local customers</h4>
                    <p class="text-muted">We help companies find, understand, and build relationships with valuable local customers through in-person experiences and thoughtful storytelling.</p>
                </div>
            </div>
        </div>
    </section>