<!-- Introduction Section -->
    <section id="discover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Your agency for local.</span></h2>
                    <h3 class="section-subheading text-muted">We’re a creative studio focused on one thing: unforgettable campaigns that engage the curious locals who lead, move, and power our cities.</h3>

                </div>
            </div>
            <div class="row text-center">
            <div class="col-md-3"></div>
                <div class="col-md-2">
                  <video autoplay onended="replay()">
                     <source src="/img/miami-iphone6.mp4" type="video/mp4">
                  </video>
                </div>
                
                <div class="col-md-4 intro-text">

                    <h2 class="service-heading intro">A human approach<br>to local marketing</h2>
                    <p class="text-muted">We connect curious locals to the things that move them by developing creative strategies, marketing campaigns, content, and experiences for brands that understand how powerful that can be. Our creativity, their passion, and you are how we do what we do best: cultivate FOMO.<p class="text-muted">We understand local community because it’s what we do across our company. Our local publications like <a href="http://www.thenewtropic.com">The New Tropic in Miami</a> and <a href="http://www.theevergrey.com">The Evergrey in Seattle</a> help us build broad, deep networks and rich data about growing cities. We leverage this understanding for our clients, too. </p>

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
    <script>
     var el = document.getElementsByTagName("video");
    for (var i = 0; i < el.length; i++) {
        el[i].addEventListener('click', function(e) {
            playVideo(this);
            return false;                
        }, false);
    }
    </script>